* {
    font-family: "Helvetica", sans-serif;
}

.heading {
    color: #2c87c4;
}

.main {
    font-size: 32px;
}

.picture {
    height: 400px;
    width: auto;
}

.link {
    color: black;
    font-style: italic;
}